*{
    text-decoration: none;
}

.lista-trabalho{
    list-style: none;
    padding: 0px;
}

.lista-trabalho__item{
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 50px;
}

.lista-trabalho__item .a{
    text-decoration: none;
}

.lista-trabalho__titulo{
    color: #000;
    font-size: 18px;
    margin-left: 10px;
    border-left: 1px solid #000;
    padding-left: 10px;
}
